<div class="post list-group">
    {{#each post}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/{{id}}">
        <span>Website: {{title}}</span>
         <span>Email: {{email}}</span>
          <span>Username: {{username}}</span>
           <span>Password: {{password}}</span>
            <span>URL: {{website_url}}</span>
        {{!-- <span>{{format_date createdAt}}</span> --}}
    </a>
    {{/each}}
</div>