<div class='password card'>
  <div class='card-header'>
    <h2>Edit Passwords</h2>
  </div>
  <form id='edit-password-form' class='card-body'>
    <input type='hidden' name='password-id' value='{{password.id}}' />

 <label class='form-label' for='password-title'>Title</label>
    <input type='text' name='password-title' class='form-input' value="{{password.title}}"/>

    <label class='form-label' for='password-email'>Email</label>
    <input
      type='text'
      name='password-email'
      class='form-input'
      value='{{password.email}}'
    />

    <label class='form-label' for='password-username'>Username</label>
    <input
      type='text'
      name='password-username'
      class='form-input'
      value='{{password.username}}'
    />

    <label class='form-label' for='password-password'>Password</label>
    <input
      type='text'
      name='password-password'
      class='form-input'
      value='{{password.password}}'
    />

    <label class='form-label' for='password-website_url'>URL</label>
    <input
      type='text'
      name='password-website_url'
      class='form-input'
      value='{{password.website_url}}'
    />

    <button type='submit' class='btn'>Update</button>

    <button type='button' id='delete-btn' class='btn'>Delete</button>
  </form>
</div>

<script src='/javascript/edit.js'></script>