<div class="post card">
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
    <form id="edit-post-form" class="card-body">
        <input type="hidden" name="post-id" value="{{post.id}}" />

        <label class="form-label" for="title">Website Title</label>
        <input type="text" name="title" value="{{post.title}}" class="form-input" />

         <label class="form-label" for="email">Email</label>
        <input type="text" name="email" value="{{post.email}}" class="form-input" />

         <label class="form-label" for="username">Username</label>
        <input type="text" name="username" value="{{post.username}}" class="form-input" />

        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" name="password" value="{{post.password}}" class="form-input" />
        <button data-toggle="password" data-target="#password">Toggle</button>

         <label class="form-label" for="website_url">Website URL</label>
        <input type="text" name="website_url" value="{{post.website_url}}" class="form-input" />

        <button type="submit" class="btn update-btn">Update</button>

        <button type="button" id="delete-btn" class="btn delete-btn">Delete</button>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>