<div class="post card m-1">
    <div class="card-header">
        <h2>Create a Post</h2>
    </div>
    <div class="card-body">
    <form id="new-post-form" >
         <label class="form-label" for="title">Website Title</label>
        <input type="text" name="title" value="{{post.title}}" class="form-input" />

         <label class="form-label" for="email">Email</label>
        <input type="text" name="email" value="{{post.email}}" class="form-input" />

         <label class="form-label" for="username">Username</label>
        <input type="text" name="username" value="{{post.username}}" class="form-input" />

        <label class="form-label" for="password">Password</label>
        <input type="text" name="password" value="{{post.password}}" class="form-input" />

         <label class="form-label" for="website_url">Website URL</label>
        <input type="text" name="website_url" value="{{post.website_url}}" class="form-input" />

        <button type="submit" class="saveBtn create-btn">Create</button>
    </form>
    </div>
</div>

<script src="/javascript/new-post.js"></script>